.form1{ 
  max-width: 600px;
  padding: 0px;
  /* background-color: #fff; */
  margin: 60px;
}
.form2{
  max-width: 600px;
  padding: -200px;
  margin: 140px;
  position: top right;
}
.form3{
  max-width: 600px;
  padding: 0px;
  background-color: #fff;
  margin: 60px;

}



/* Base styles */
h1 {
  font-size: 40px; 
  white-space: pre-line;
  
}

h1::first-letter {
  color: skyblue;
  font-size: 1.5em; 
  display: block;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px; 
}

form div {
  margin-bottom: 25px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 20px;
  border: 3px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 97%;
  background-color: skyblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #007bff;
}

/* Background styles */
.sign-up-container {
  background: url('../public/images/signup.jpg') no-repeat center/cover;
  background-size: 45%;
  height: 100vh;
  background-position: right;
  background-color: rgba(135, 189, 216, 0.29);
}

.login-container {
  background: url('../public/images/backgrd.jpg') no-repeat center/cover;
  background-size: 80%;
  height: 90vh;
  background-position: top left;
  background-color: rgba(135, 189, 216, 0.29);
}


/* Responsive styles */
@media (max-width: 768px) {
  .form1, .form2 {
    max-width: 90%;
    margin: 20px auto;
  }
  
  .sign-up-container, .login-container {
    background-size: 100%;
    background-position: center;
  }
}

@media (max-width: 480px) {
  .form1, .form2 {
    max-width: 100%;
    margin: 10px;
  }
  
  .sign-up-container, .login-container {
    background-size: 120%;
  }
}

/* AppointmentForm.css */
.appointment-page {
  background-color: rgba(135, 189, 216, 0.29); /* Blue background color */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-group {
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #007bff; 
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
